.filter{
	background-color:#868e96;
	padding: 1rem;
	margin: 1rem;
}
.rooms{
	display: flex;
	flex-direction: row;
}
.room{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 1rem;
	background-color:#e9ecef;
	width: 100px;
}
.room>img{
	display:inline-block;
	width:auto !important;
	max-width:100%;
	height:auto !important;
}
#info{
	display: flex;
	flex-direction: column;
	background-color:#868e96;
	padding: 1rem;
	margin: 1rem;
	width:450px;
	height:550px;
}
.desc{
	display: flex;
	flex-direction: row;
}
.desc>img{
	display:inline-block;
	width:100px;
	height:100px;
}
	

