@charset "UTF-8";

* {
    margin:0;
    padding:0;
}
body {
    font-family:"맑은 고딕", "돋움";
    font-size:12px;
    color:#444444;
    background-color:white;
}
ul {
    list-style-type:none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color:#444444;
}
.clear {
    clear:both;
}




/* 좌측 카테고리 + 메인 이미지 + 공지사항/고객센터 */
section#cat1 {
    width:200px;
    height: 260px;
    float:left;
    margin-top:17px;
    margin-right: 13px;
    margin-bottom: 10px;
    font-weight:bold;
    border: 2px solid #ff7a17;
    border-radius: 25px;
}

*{
	font-family: 'Noto Sans KR', snas-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding:0px;
	color: rgb(0, 0, 0);
}


.header{
	width:1280px;
	margin: auto;
	background-image:url("imgs/index.PNG");
	height: 100px;
}

.nav{
	display:flex;
	
}

.nav > li{
	margin-left: 80px;
}

.faq{
	display:flex;
}
.faq > li{
	margin-left:25px;
}